.recipe-in-progress-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-size: cover;
  height: 211.85px;
  margin-bottom: 35.13px;
  width: 100%;
}

.header-in-progress {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  display: flex;
  flex-direction: column;
  height: 211.85px;
  width: 100%;
}

.header-in-progress h2 {
  color: rgba(252, 196, 54, 1);
}

.header-in-progress p {
  color: rgba(252, 196, 54, 1);
  font-size: 10px;
}

.header-in-progress h1 {
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  margin-top: 0;
  text-transform: uppercase;
}

.header-in-progress nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.header-in-progress nav button {
  background: none;
  border: none;
  margin: 4px;
}

.header-in-progress i {
  color: rgba(252, 196, 54, 1);
  font-size: 20px;
}

.ingredients-content {
  margin-bottom: 33px;
  width: 90%;
}

.ingredient-checkbox:checked {
  text-decoration: line-through;
}


.checkbox-ingredients label {
  align-items: center;
  display: flex;
}
.checkbox-ingredients input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 2px solid rgba(252, 196, 54, 1);
  height: 17px;
  margin-right: 10px;
  transition: none;
  width: 17px;
}

.checkbox-ingredients input:checked:before {
  align-items: flex-end;
  color: rgba(252, 196, 54, 1);
  content: url('../imagesFromFigma/checked.svg');
  display: flex;
  height: 17px;
  justify-content: flex-start;
  margin: 0;
  margin-left: 1px;
  padding: 0;
  text-align: center;
  width: 17px;
}
