.details-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-size: cover;
  height: 211.85px;
  margin-bottom: 35.13px;
  width: 100%;
}

.header-details {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  display: flex;
  flex-direction: column;
  height: 211.85px;
  width: 100%;
}

.header-details h2 {
  color: rgba(252, 196, 54, 1);
}

.header-details h1 {
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  margin-top: 0px;
  text-transform: uppercase;
}

.header-details nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.header-details nav button {
  background: none;
  border: none;
  margin: 4px;
}

.header-details i {
  color: rgba(252, 196, 54, 1);
  font-size: 20px;
}

.ingredients-content {
  width: 90%;
  margin-bottom: 33px;
}

.ingredients-content ul {
  border: 0.55px solid rgba(177, 177, 177, 1);
  border-radius: 5.35px;
  display: flex;
  flex-direction: column;
  list-style: circle;
  padding: 10px;
}

.ingredients-content li {
  margin-left: 20px;
}


.instructions-content {
  width: 90%;
}

.instructions-content p {
  border: 0.55px solid rgba(177, 177, 177, 1);
  border-radius: 5.35px;
  padding: 20px;
}

.recomImg {
  border-radius: 7px;
  width: 150px;
}

.video content {
  margin-bottom: 100px;
}

.startRecipeBtn {
  background-color: rgb(255, 204, 74);
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  margin-bottom: 10px;
  position: fixed;
  text-transform: uppercase;
  transition: 0.2s;
  width: 336px;
}

