* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Epilogue , sans-serif;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

header {
  background-color: lightblue;
  width: 100%;
}

footer {
  background-color: lightblue;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

.CardRecipe {
  border-radius: 1rem;
  padding: 5px;
  width: 250px;
}

button {
  border: 1px solid black;
}

.button-selected {
  border: 2px solid green;
}
